 body {
  margin: 0 auto; 
  text-align: center;
  background-image: url('./img/Background2.jpg');
  background-attachment: fixed;
  background-size: cover;
  color: white;
}


@media only screen and (max-width: 600px) {
  [class*="col-"] {
    width: 100%;
  }
}

.button {
  border-radius: 5px;
  background-color: lightslategray; 
  color: black; 
}

.textbox {
  width: 150px;
  height: 20px; 
  margin: 7px; 
}

.App {
  text-align: center;
}

.Flex {
  display: flex;
  justify-content: space-between;
}


.Flextwo {
  display: flex;
  justify-content: space-between;
}

.Starttime {
  background-color: rgba(70, 143, 226, 0.3);
  border: 1px solid black;
  height: 300px;
  width: 25%;
}

.Traveltime {
  background-color: rgba(216, 226, 70, 0.3);
  border: 1px solid black;
  height: 300px;
  width: 25%;
}

.Returntime {
  background-color: rgba(32, 172, 8, 0.3);
  border: 1px solid black;
  height: 300px;
  width: 25%;
}

.ReturnTravel {
  background-color: rgba(253, 143, 0, 0.5);
  border: 1px solid black;
  height: 300px;
  width: 25%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mytrips {
  border: 1px solid black
}